* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

:root {
    --background-color: gray;
}

nav {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: var(--background-color);
    padding: 20px;
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    align-items: center;
}


.menu{
    display: flex;
    gap: 80px;
}

.menu_item {
    list-style-type:none;
}

a {
    text-decoration: none;
}

.menu_item:hover a {
    color: rgb(14, 14, 82);
}

.logo {
    width: 5%;
}

p {
    margin: 10px 100px;
}

.heading {
    margin-top: 40px;
}