* {
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
}

body {
    margin: 0;
    padding: 3px;
}

header {
    background-color: #923158;
    height: 10vh;
    line-height: 10vh;
    padding: 10px;
    padding-left: 20px;
}

nav {
    background-color: #6e1237;
    height: 8vh;
    line-height: 8vh;
    padding: 5px;
    padding-left: 20px;
}

footer {
    background-color: #58254b;
    height: 8vh;
    padding: 5px;
    padding-left: 20px;
    line-height: 8vh;
}

.maincontainer {
    display: flex;
    gap: 10px;
}

.maincontainer > * {
    margin: 0;
}

.inner-aside {
    background-color: #b65b80;
    padding: 40px 60px 40px 60px;
    margin: 0;
}


main {
    background-color: #b65b80;
    flex-grow: 5;
  
}

.right {
    background-color: #b65b80;
    text-orientation: upright;
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-section {
    background-color: #db92af;
    margin-left: 0;
}

.left, .right {
    flex-grow: 1;
}

.inner-aside:first-child {
    margin-bottom: 10px;
}
.inner-aside:last-child {
    margin-bottom: 50px;
}