* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(243, 237, 237);
    padding: 20px 0;
    margin: 150px;
    margin-top: 20px;
}

section {
    background-color: rgb(159, 205, 205);
    margin: 20px 200px 20px 200px;
    border-radius: 20px;
    padding-bottom: 50px;
}

h2 {
    background-color: rgb(219, 100, 35);
    position: relative;
    top: 40px;
    right: 20px;
    color: white;
    width: fit-content;
    padding: 10px 150px 10px 100px;
}

.form1 {
    margin: 75px;
    margin-top: 65px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

label {
    color: rgb(45, 75, 90);
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#cardnumber {
    background-color: rgb(169, 210, 210);
    padding: 5px;
    font-size: 20px;
    width: 200px;
    border: none;
    border-bottom: 1px solid rgb(70, 108, 111);
}

#name {
    background-color: rgb(169, 210, 210);
    padding: 5px;
    font-size: 20px;
    width: 200px;
    border: none;
    border-bottom: 1px solid rgb(70, 108, 111);
}

.form2 {
    margin: 75px;
    margin-top: -60px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.expirycontainer {
    display: flex;
    gap: 20px;
    margin-top: -7.5px;
}

label[for="month"] {
    margin-bottom: 0;
}

#month {
    background-color: rgb(169, 210, 210);
    padding: 5px;
    font-size: 20px;
    width: 65px;
    border: none;
    border-bottom: 1px solid rgb(70, 108, 111);
    padding-left: 23px;
    box-sizing: border-box; 
}

#year {
    background-color: rgb(169, 210, 210);
    padding: 5px;
    font-size: 20px;
    width: 80px;
    border: none;
    border-bottom: 1px solid rgb(70, 108, 111);
    display: flex;
    padding-left: 18px;
    box-sizing: border-box;
}

.cvvcontainer {
    display: flex;
    flex-direction: column;
}

#cvv {
    background-color: rgb(169, 210, 210);
    padding: 5px;
    font-size: 20px;
    width: 65px;
    border: none;
    border-bottom: 1px solid rgb(70, 108, 111);
    padding-left: 23px;
    box-sizing: border-box; 
}
