* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


main {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin: 50px 200px 50px 200px;
    height: 150px;
    display: flex;
    background-color: rgb(245, 245, 245);
}

img {
    max-width: 250px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 10px;
}

.info {
    margin-left: 15px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;

}

.time {
    border: 2px solid rgb(162, 175, 204);
    /* padding-right: 300px; */
    display: flex;
    margin-bottom: 20px;
}

.percentage {
    margin-bottom: 0;
    background-color: rgb(208, 214, 226);
    padding: 5px 50px 5px 10px;
}

.minutes {
    margin-left: 100px;
    padding: 5px 10px 5px 10px
}

.title {
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.uploading {
    font-size: 10px;
}

.done {
    background-color: rgb(59, 89, 152);
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    align-self: flex-start;
    margin-top: 22px;
    margin-left: 20px;
       
}
@media (max-width: 1238px) {
    .time {
        border: 2px solid rgb(162, 175, 204); 
        display: flex;
        margin-bottom: 5px;
    }
     
    .percentage {
        margin-bottom: 0;
        background-color: rgb(208, 214, 226);
        padding: 5px 50px 5px 10px;
    }
    
    .minutes {
        margin-left: 100px;
        padding: 5px 10px 5px 10px
    }
    
    .title {
        display: flex;
        flex-direction: column;
    }
    
    h4 {
        font-weight: bold;
        
    }
    
    .uploading {
        font-size: 10px;
        margin-top: 0px;
    }
    
    .done {
        background-color: rgb(59, 89, 152);
        color: white;
        font-weight: bold;
        padding: 10px 30px 10px 30px;
        max-width: fit-content;
        align-self: flex-start;
        margin-top: 22px;
        margin-left: 9px;
    }   
}

@media (max-width: 1286px) {
    .done {
        background-color: rgb(59, 89, 152);
        color: white;
        font-weight: bold;
        padding: 10px 30px 10px 30px;
        max-width: fit-content;
        align-self: flex-start;
        margin-top: 22px;
        margin-left: 9px;
        margin-right: 9px;
    }
}


@media (max-width: 1140px) {
    .done {
        background-color: rgb(59, 89, 152);
        color: white;
        font-weight: bold;
        padding: 10px 10px 10px 10px;
        max-width: fit-content;
        align-self: flex-start;
        margin-top: 22px;
        margin-left: 9px;
        margin-right: 9px;
    }
}

@media (max-width: 1110px) {
        main {
            border: 1px solid white;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
            margin: 10px 30px 10px 30px;
            max-width: 500px;
            height: 500px;
            display: flex;
            flex-direction: column;
            background-color: rgb(245, 245, 245);
        }
    
        img {
            height: 300px;
            max-width: 90%;
            align-self: center;
            margin: 10px;   
        }
         
         .info {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 22px;
            display: flex;
            flex-direction: column;
             
        }
    
        .time {
            border: 2px solid rgb(162, 175, 204);
            padding-right: 300px; 
            display: flex;
            padding-top: 0px;
            height: 75px;
        }
        
        .percentage {
            margin-bottom: 0;
            background-color: rgb(208, 214, 226);
            padding: 15px 50px 15px 50px;
        }
        
        .minutes {
            margin-left: 100px;
            padding: 5px 20px 5px 20px;
        }
        
        .title {
            margin-top: 25px;
        }
        
        h4 {
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        .uploading {
            font-size: 10px;
        }
        
        .done {
            background-color: rgb(59, 89, 152);
            color: white;
            font-weight: bold;
            padding: 10px 50px 10px 50px;
            max-width: fit-content;
            align-self: center;
            margin-bottom: 15px;
        }
    }