h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(229, 228, 228);
    margin-left: 100px;
    margin-top: 75px;
    margin-right: 400px;
    padding-left: 30px;
    padding-bottom: 500px;
    padding-top: 30px;
    border-radius: 15px;

}

div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -500px;
    margin-left: 130px;


}
dt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 130px;
}
dd {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 135px;
    margin-top: 20px;
}
.in_a_sentence {
    color: rgb(103, 103, 103);
}
mark {
    background-color: rgb(229, 228, 228);
    color:rgb(69, 69, 160)
}